examples/workflow-demo.json
{
  "_disclaimer": "Synthetic toy n8n workflow demonstrating the orchestration pattern. Generated 2026-06-07. No real calendar IDs, no real chat IDs, no real tokens, no real family data. Imports cleanly into n8n for shape inspection but will not produce real output without configured credentials.",
  "name": "Family Briefing (demo)",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger (7am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [-200, 0],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 0 7 * * *" }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Read shared calendar (today + tomorrow)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [40, -120],
      "parameters": {
        "url": "https://example.invalid/calendar/demo",
        "method": "GET",
        "options": {},
        "_demoNote": "Replace with your real calendar provider (Google Calendar, Outlook, CalDAV, etc). This URL is intentionally invalid."
      }
    },
    {
      "id": "3",
      "name": "Fetch weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [40, 120],
      "parameters": {
        "url": "https://example.invalid/weather/demo",
        "method": "GET",
        "options": {},
        "_demoNote": "Replace with your real weather provider. Latitude/longitude should come from secure env vars, not hardcoded."
      }
    },
    {
      "id": "4",
      "name": "Merge calendar + weather",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [280, 0],
      "parameters": { "mode": "combine", "combinationMode": "multiplex" }
    },
    {
      "id": "5",
      "name": "Compose briefing (Mrs Maggie voice)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// In the real workflow this calls an LLM with a system prompt that defines Mrs Maggie's tone.\n// Here we emit a deterministic example so the demo can run end-to-end with no credentials.\nconst events = ($json.events || []).map(e => `- ${e.time} ${e.title}`).join('\\n');\nconst weather = $json.weather ? `${$json.weather.summary}, high ${$json.weather.high_c}°C` : 'no weather data';\nconst body = [\n  'Good morning. Here is your briefing.',\n  '',\n  `Today: ${weather}.`,\n  '',\n  'On the calendar:',\n  events || '- nothing scheduled',\n  '',\n  '— Mrs Maggie'\n].join('\\n');\nreturn [{ json: { message: body } }];"
      }
    },
    {
      "id": "6",
      "name": "Send via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [760, 0],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "REPLACE_WITH_YOUR_CHAT_ID",
        "text": "={{ $json.message }}",
        "_demoNote": "Real chat IDs and bot tokens NEVER live in workflow JSON. Use n8n credentials store for the Telegram bot token and put the chat ID in an env var."
      }
    }
  ],
  "connections": {
    "Schedule Trigger (7am)": {
      "main": [[
        { "node": "Read shared calendar (today + tomorrow)", "type": "main", "index": 0 },
        { "node": "Fetch weather", "type": "main", "index": 0 }
      ]]
    },
    "Read shared calendar (today + tomorrow)": {
      "main": [[ { "node": "Merge calendar + weather", "type": "main", "index": 0 } ]]
    },
    "Fetch weather": {
      "main": [[ { "node": "Merge calendar + weather", "type": "main", "index": 1 } ]]
    },
    "Merge calendar + weather": {
      "main": [[ { "node": "Compose briefing (Mrs Maggie voice)", "type": "main", "index": 0 } ]]
    },
    "Compose briefing (Mrs Maggie voice)": {
      "main": [[ { "node": "Send via Telegram", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "versionId": "demo-v1-20260607",
  "id": "family-briefing-demo"
}
